*{
	margin: 0px;
	padding: 0px;}

header, section, footer, aside, nav, article, hgroup{
	display:block;}

#wrapper{
	border-right: 1px solid black;
	border-left: 1px solid black;
	border-bottom:1px solid black; 
	margin: 10px auto;
	padding: 5px;
	background-color: white; /*was #E6E6E6*/m: 1px solid black;
	width: 1000px;
}
#top_header{
	background:white;
	border: 1px solid black;
	padding: 20px;
	Color: #1b415b;
	-webkit-border-radius: 15px;
	
	}
	
	
#header_ad{
	float: right;
	width: 360px;
	margin: 5px 5px;
	text-align: center;
	
}

#top_bar {
   float:left;
   width:100%;
   background:white;
   border-top: 2px solid black;
   border-bottom:2px solid black;
   overflow:hidden;
   position:relative;
}
#top_bar ul {
   clear:left;
   float:left;
   list-style:none;
   margin:0;
   padding:0;
   position:relative;
   left:50%;
   text-align:center;
}
#top_bar ul li {
   display:block;
   float:left;
   list-style:none;
   margin:0;
   padding:0;
   position:relative;
   right:50%;
}
#top_bar ul li a {
   display:block;
   margin:0 0 0 1px;
   padding:3px 10px;
   background:#ddd; /*gray*/
   color:black;
   text-decoration:none;
}

#top_bar ul li a:hover {
   background:#4294ce; /*blue*/
   color:white;
}

#top_bar ul ul a:hover {
 background:#4294ce; /*blue*/
 color:white;
 opacity: 1;
}

#top_bar ul li a.active,
#top_bar ul li a.active:hover {
   color:white;
   background:#1d415b; /*blue color in logo*/
   font-weight:bold;
}


#main_section{
	float: left; 
	width: 700px;
	margin: 10px 5px 0px 8px;
}

#video{
	padding: 20px 20px 20px 20px
}

#food{
margin-right: 0px; 
margin-top:0;
height: 550px; 
overflow: auto; 
}

table				{width:100%;}
	.menu			{width:98%;}
	.menuitem 		{font-weight: bold; font-size: 15pt;vertical-align:middle;padding:25px}
	.description	{font-size:11pt; font-style: italic;font-weight: normal;}
	
#side_bar{
	float:right;
	text-align: auto;
	width: 170px;
	margin: 15px 25px 10px 0px;
	padding: 5px;
	border: 1px solid black;
	background: #1d415b;
	font: 14px Bookman Old Style; /*May change to a more common font may not show up*/
	color:white;
	-webkit-border-radius:20px;}

#side_ad{
	float:right;
	text-align: auto;
	width: 280px;
	margin: 220px -210px 10px 0px;
	padding: 5px;
	text-decoration:blink;
}

#footer{
	clear:both;
	text-align: center;
	padding:10px;
	border-top:2px solid black;
	font: 12px courier new;}
	
